* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.grid-item {
  max-width: 15.625rem;
  margin-top: 0.625rem;
  font-size: 0.9375rem;
}
.grid1,
.grid2 {
  margin-top: 0.75rem;
}
.grid3 {
  margin-top: 2.8125rem;
}
.grid5 {
  margin-top: 1.875rem;
}
.grid6 {
  margin-top: 3.75rem;
}
.grid7 {
  margin-top: 1.875rem;
}
.more {
  display: flex;
  gap: 3vw;
}
.more1 {
  grid-column-start: 4;
  grid-column-end: 4;
}
.more2 {
  width: 30vw;
  height: 100%;
}
.more-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.more1-item {
  width: 25vw;
  margin-bottom: 1.25rem;
}
.more1-item > img {
  width: 100%;
}
.left-link {
  display: grid;
  justify-content: end;
  text-decoration: none;
  color: gray;
  font-size: 0.75rem;
}
.opacity {
  text-decoration: none;
  color: #121212;
  font-size: 1.125rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 540;
}
.opacity:hover {
  opacity: 0.5;
}
.editor {
  gap: 0.625rem;
}
.sneakers {
  margin-top: 1.25rem;
}
.border-top {
  margin-top: 5rem;
  padding: 1.25rem 0;
  border-top: 0.0625rem solid;
  margin-right: 1.4375rem;
}
.most-popular {
  margin-bottom: 1.25rem;
}
.more2-para {
  font-size: 0.9375rem;
  border-top:0.0625rem solid rgb(226, 224, 224);
  padding: 0.9375rem 0;
}
.edit {
  margin-top: 3.125rem;
  padding: 1.25rem 0;
  border-top: 0.0625rem solid;
  width: 80vw;
}
.links-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top:0.0625rem solid gray;
  margin-top: 0.0625rem ;
  padding: 0.625rem;
}
.link {
  border-top: 0.0625rem solid gray;
  margin: auto;
  margin-top: 1.875rem;
}
.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: auto;
  border-bottom: 0.0625rem solid rgb(255, 255, 255);
  padding: 0.9375rem;
}
.links-para a {
  text-decoration: none;
  color: black;
  font-size: 0.9375rem;
}
.links-para a :hover {
  text-decoration: underline;
}
.links-para p {
  margin-top: 0.5rem;
}
.sub {
  border-left: 0.0625rem solid gray;
  padding-left: 0.9375rem;
}
.sub-img {
  margin-top: 0.625rem;
  margin-right: 0.625rem;
}
.sub-font {
  font-size: 0.75rem;
}
.border {
  border-top: 0.0625rem solid rgb(204, 204, 204);
  padding-top: 0.625rem;
  width: 12.5rem;
}
.footer {
  border-top: 0.0625rem solid rgb(179, 178, 178);
  margin: auto;
  padding: 0.625rem;
}
.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
  font-size: 0.75rem;
}
.footer-links a {
  text-decoration: none;
  color: gray;
  cursor: pointer;
}
.footer-links a:hover {
  text-decoration: underline;
}
.footer-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-disp {
  border-top:0.0625rem solid;
  margin: 1.25rem 0;
  padding: 0.625rem 0;
  width: 100%;
}
.offer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pop2 {
  background-color: #4ea4e6;
  margin: -1.25rem 8.125rem 2.5rem 8.125rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.4375rem;
}
.pop {
  height: 15.625rem;
}
.pop-two {
  text-decoration: none;
  color: black;
}
.sub-now {
  background-color: white;
  color: var(--black);
  font-weight: 900;
  font-size: 0.6875rem;
  padding: 0.625rem;
  margin-top: 0.625rem;
  width: 12.5rem;
}
.pause {
  font-size: 0.625rem;
  margin-top: 0.3125rem;
}
.pop2-img {
  color: #4ea4e6;
  padding: 0.25rem;
  background-color: white;
  border-radius: 0.3125rem;
}
.go-to {
  text-decoration: none;
  color: #a9c3d6;
  font-size: 0.75rem;
}
@media (min-width:420px) {
  .theory-para{
    width: 80vw;
  }
  .grid-container {
    display: block;
    
  }
  .grid-item{
    display: block;
  }
  
  .more {
    display: block;
  }
  
  .more-item {
    display: block;
    width: 100vw;
  }
  .more1-item {
    display: flex;
    gap: 0.5rem;
  }
  .more1-item > img {
    width: 30vw;
    height: 9vh;
  }
  .left-link{
    display: none;
  }
  .james{
    width: 60vw;
    margin-right: 0.625rem;
  }
  .opacity{
    font-size: 0.85rem;
  }
  .more-date{
    font-size: 0.6875;
    color: gray;
  }
  .editor{
    margin-left: -24.375rem;
    margin-top: 6.25rem;
  }
  .more2,
   .border-top{
    width: 80vw;
   }
   .none{
    display: none;
   }
  .links-anchor,
  .sub{
    display: none;
  }
  .link{
    width: 95vw;
  }
  .links{
    display: block;
    padding: 0 1.25rem;
  }
  .links-para{
    padding-bottom: 1rem;
    border-top: 1px solid rgb(231, 231, 231);
    width: 88vw;
  }
  h5{
    margin-top: 0.9375rem;
  }
  .copyright{
    text-align: center;
    text-decoration: none;
    color: gray;
    font-size: 0.75rem;
    margin-bottom: 1rem;
  }
  .footer{
    width: 90vw;  
  }
  .expand,
  .pop{
    display: none;
  }
  .offer{
    text-align: start;
  }

  }
@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  @media(min-width:992px){
    .grid-container {
      display: grid;
      grid-template-columns:1fr 1fr 1fr;
      justify-content: center;
      align-items: center;
    }
  }
  @media(min-width:1200px){
    .grid-container {
      display: grid;
      grid-template-columns:1fr 1fr 1fr 1fr;
      justify-content: center;
      align-items: center;
    }
  }
  /* .more1-item:nth-last-child(-n + 3) {
    display: none;
  } */
}
