* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-wrap {
  width: 100vw;
}

.sec-one-icons,
.gift-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 300px 10px 0px;
}

.gift-icon {
  font-size: 12px;
}

h1 {
  max-width: 40.625rem;
  border-bottom: 1px solid rgb(232, 229, 229);
  margin: auto;
  padding: 80px 80px 25px 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  font-size: 35px;
  font-style: italic;
}

.gift {
  border: 1px solid rgb(231, 230, 230);
  color: rgb(73, 71, 71);
  border-radius: 20px;
  padding: 3px;
  margin: 10px 0px 10px 20px;
}

.gifts {
  padding: 9px;
  color: black;
}

.img {
  padding: 2px;
}

.image {
  max-width: 100%;
  display: block;
  margin: auto;
}

.alan {
  margin: 15px 0px 50px 2rem;
  color: gray;
  width: 43.75rem;
}

.paragraph {
  max-width: 37.5rem;
  margin: auto;
}
.author {
  max-width: 37.5rem;
  margin: auto;
  text-decoration: underline;
}
.author:hover {
  text-decoration: none;
}

.font {
  font-size: 20px;
  line-height: 25px;
  font-family: helvetica, "Georgia", "Times New Roman", Times, serif;
  color: #242222;
}

.authors-date {
  margin-bottom: 30px;
  margin-top: 5px;
}

.spec {
  margin-top: 40px;
}

.header2 {
  padding: 20px 0px;
  font-size: 20px;
}
.to-float {
  width: 62.5;
  margin: auto;
}
.left {
  float: left;
  margin-left: 5vw;
  /* margin-right: 100px; */
}
.float.editor-pick {
  display: none;
  float: left;
  width: 250px;
  margin-right: -100px;
  margin-top: 200px;
}
.edit-pick {
  border-bottom: 1px solid rgb(203, 203, 203);
  width: 15.625rem;
  padding: 10px 0;
  margin-bottom: 5px;
  font-size: 17px;
}
.float-2 {
  float: left;
  /* width: 100px; */
  clear: left;
  margin-top: 15px;
}
.float-3 {
  float: left;
  width: 11.25rem;
  margin-top: 15px;
  padding: 10px;
}
.float-3:hover {
  text-decoration: underline;
}
.href {
  text-decoration: none;
  color: rgb(84, 83, 83);
}

.section-three {
  max-width: 62.5rem;
  margin: auto;
  padding-top: 50px;
}
.larry-b {
  margin-top: 30px;
  border-top: 1px solid;
  width: 5rem;
}

.larry {
  margin: 30px 0;
  width: 25rem;
  margin-bottom: 60px;
}

.gravity {
  text-decoration: underline;
  color: #326891;
}

.gravity:hover {
  text-decoration: none;
}

.theory {
  font-size: 20px;
}

.version {
  font-size: 10px;
  color: rgb(113, 108, 108);
  margin: 0 0 10px 0;
}

.version-link {
  text-decoration: underline;
  color: rgb(113, 108, 108);
  border-right: 1px solid rgb(184, 184, 184);
  padding: 5px;
  cursor: pointer;
}

.version-link:hover {
  text-decoration: none;
}

button {
  padding: 13px;
  background-color: rgb(75, 130, 170);
  color: white;
  word-spacing: 2px;
  border: #567b95;
  border-radius: 4px;
  /* width: 600px; */
  cursor: pointer;
}

button:hover {
  transition: background-color 2s ease-out;
  background-color: #0d4774;
  cursor: pointer;
}

.bottom-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  width: 9.3754rem;
  border: 1px solid rgb(231, 230, 230);
  color: rgb(73, 71, 71);
  border-radius: 20px;
  padding: 3px;
  margin: 10px 0px 10px -50px;
}

.bottom-icons {
  width: 24.375rem;
}

.bottom-section-one {
  width: 100%;
}

@media (min-width: 820px) {
  .float.editor-pick {
    display: unset;
  }
}
